.home-graph-card-inner-wrapper {
  display: flex;
  flex-direction: column;
}

.home-graph-card {
  /* padding-bottom: 24px;
  position: relative; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* justify-content: space-between; */
  height: 100%;
}

.home-graph-details {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.home-graph-price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-graph-price-inner-wrapper {
  display: flex;
  align-items: center;
  text-align: left;
}

.home-graph-price {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-right: 5px;

  color: #333333;
}

.home-graph-price-currency {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* identical to box height, or 156% */
}

.home-graph-price-change {
  color: #46ce7c;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
}

.home-graph-wrapper {
  margin: 0 -29px;
  /* margin-top: auto; */
  /* bottom: -5px;
  position: absolute; */
  margin-top: 30px;
}
